body{
    text-align:center;

}
div{
    height:200px;
    width:200px;
   



}
.red{
    background-color: red;
    
}
.yellow{
    background-color:yellow;

}
.blue{
    background-color:blue;

}
.green{
    background-color:green;

}
.contain{
    margin:50px 0px 0px;

    height:700px;
    width:100%;



    display: flex;
    justify-content:center;
   

}
.contain div{
    margin:0px 10px 0px;

}
.contain div div{
    margin:10px 0px;
    border-radius: 25px;
    border:5px solid black;
    



}
.flash{
    background-color:white;

}
.press{
    background-color:greenyellow;
    
}